@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  max-width: full;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  color: #000000;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  background-color: #ffffff !important;
}

body {
  background-color: #ffffff !important;
}

a {
  font-weight: 500;
  color: #ca8a04;
  text-decoration: inherit;
}
a:hover {
  color: #b5a104;
}

body {
  display: block;
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #ffffff !important;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #fefce8;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #ca8a04;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

body::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 35s linear infinite;
}

@keyframes marquee-left-to-right {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}

.animate-marquee-left-to-right {
  animation: marquee-left-to-right 102s linear infinite;
  animation-delay: -16s;
}

@media (max-width: 640px) {
  .hero-icon-filter {
    filter: none !important;
  }
}

.gradient {
  background:
    linear-gradient(
      to right,
      rgba(250, 235, 215, 0.9) 0%,
      rgba(250, 235, 215, 0.6) 12%,
      transparent 35%,
      transparent 65%,
      rgba(250, 235, 215, 0.6) 88%,
      rgba(250, 235, 215, 0.9) 100%
    ),
    radial-gradient(
      ellipse at center,
      transparent 60%,
      rgba(250, 235, 215, 0.4) 100%
    );
}

@media (prefers-color-scheme: light) {
  :root {
    color: #000000;
    background-color: #ffffff !important;
  }
  html {
    background-color: #ffffff !important;
  }
  body {
    background-color: #ffffff !important;
  }
  a:hover {
    color: #b5a104;
  }
  button {
    background-color: #fefce8;
  }
}
